html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

.main {
	margin: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

.new-user {
	margin-bottom: 20px;
}

.header {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	margin: 10px;
}

.header-item {
	width: 33%;
}

.row {
	display: flex;
	flex-direction: row;
	align-content: space-around;
}

.row-item {
	width: 33%;
	align-self: center;
}

.state {
	margin-right: 10px;
}

.resend {
	margin-right: 10px;
}