@import '../../main';

.recommendations {
  display: flex;
  flex-wrap: wrap;
  
  .recommendations__single {
    border: 1px black solid;
    background: white;
    margin: 4px;
    padding: 4px;
  }
  
  .recommendations__dismiss {
    cursor: pointer;
    font-size: smaller;
  }
  
  .recommendations__card {
    border: 1px gray solid;
    width: 20%;
    height: 25%;
    margin: 4px;
    padding: 4px;
    background: #f0f0ff;
    transition: all .2s ease-in-out;
  }

  .recommendations__card:hover {
    background: #e5e5ff;
    transform: scale(1.025);
  }

  .recommendations__addcard {
    border: 1px black solid;
    width: 20%;
    height: 25%;
    margin: 4px;
    padding: 4px;
  }

  .recommendations__add {
    cursor: pointer;
    font-size: large;
  }

  .recommendations__text {
    width: 95%;
    height: 190px;
  }
}