.calcContainer {
  display: grid;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-gap: 5px 5px;
  align-items: center;
  justify-items: center;
  padding: 25px;
}

.input {
  display: inline-flex;
  align-self: stretch;
  justify-self: stretch;
  cursor: pointer;
  align-items: center;
  justify-items: center;
  padding-left: 45%;
  background-color: darkslategray;
  color: darkseagreen;
  font-size: larger;
  font-weight: 800;
}

.display {
  display: inline-flex;
  grid-column-start: 1;
  grid-column-end: 5;
  align-self: stretch;
  justify-self: stretch;
  margin-bottom: 10px;
}

.display > input {
  height: 100%;
  width: 100%;
  font-size: xx-large;
  text-align: right;
  background-color: lightgray;
  padding-right: 10px;
  padding-left: 10px;
}
