.container2 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(158, 168, 172);
  margin: 10px;
  border-radius: 5px;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.firstName {
  margin-right: 20px;
}

.numberContainer {
  padding: 10px;
  margin-bottom: 10px;
}

.numberContainer2 {
  margin-top: 10px;
}

.cardContainer {
}

.month {
  width: 30px;
  margin-right: 5px;
}
.year {
  width: 60px;
  margin-right: 5px;
}
.securityCode {
  width: 60px;
  margin-right: 5px;
}
.submit {
  margin-left: 10px;
  margin-bottom: 10px;
}
