.container {
  background: rgb(19, 97, 69);
  background: linear-gradient(180deg, rgba(19, 97, 69, 1) 0%, rgba(7, 180, 23, 1) 59%);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.text {
  margin: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

.divider {
  height: 28px;
  margin: 4px;
}

.emailInput {
  background-color: wheat;
}

.error {
  border-radius: 5px;
  border-color: wheat;
  border-style: solid;
  padding: 20px;
}

.success {
  border-radius: 5px;
  border-color: wheat;
  border-style: solid;
  padding: 20px;
}
