.profileContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.profilePicture {
  display: flex;
  flex-direction: column;
}

.profilePicture > img {
  border-radius: 25px;
}

.profileTop {
  display: flex;
  flex-direction: row;
}

.profileBottom {
  margin-top: 25px;
}

.profileInfo {
  margin-left: 25px;
  border: 1px solid lightslategray;
  padding: 10px;
  background-color: whitesmoke;
}

.profileInfoTitle {
  font-weight: 900;
  font-size: larger;
  margin-bottom: 10px;
}

.contactInfo {
  background-color: whitesmoke;
  border: 1px solid gray;
  padding: 0 10px 10px 10px;
}

.valueKey {
  font-size: smaller;
  font-weight: 600;
}

.aboutKey {
  font-size: smaller;
  font-weight: 900;
  padding-left: 10px;
}

.contactInfoTitle {
  font-size: larger;
  font-weight: 900;
}
