.tempContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslategray;
  height: 500px;
  width: 500px;
}

.outerCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-color: whitesmoke;
  border-radius: 150px;
}

.tempBand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  background: rgb(19, 97, 69);
  background: linear-gradient(90deg, rgba(19, 97, 69, 1) 0%, rgba(7, 180, 23, 1) 59%);
  border-radius: 125px;
  clip-path: polygon(3% -10%, 458% 71%, -1% 82%);
}

.innerCircle {
  height: 200px;
  width: 200px;
  background-color: whitesmoke;
  border-radius: 100px;
  box-shadow: 10px 5px 5px red;
}
