.outerToggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslategray;
  height: 500px;
  width: 500px;
}

.toggleContainer {
  width: 50px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.toggleSlider {
  position: absolute;
  display: inline-flex;
  z-index: 2;
  width: 25px;
  height: 20px;
  background-color: darkgray;
  border-radius: 8px;
}

.toggleLeftImage {
  display: inline-flex;
  background-image: url('/images/moon-fill.svg');
  background-size: cover;
  width: 25px;
  height: 100%;
  z-index: 1;
}

.toggleRightImage {
  display: inline-flex;
  background-image: url('/images/sun-fill.svg');
  background-size: cover;
  width: 25px;
  height: 100%;
  z-index: 1;
}
