@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://code.getmdl.io/1.2.1/material.indigo-pink.min.css');

html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	margin: 20px;
}

h1 {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

.users-container {
	display: flex;
	flex-direction: column;
}

.users-header {
	display: flex;
	justify-content: flex-start;
	background-color: lightgray;
	padding: 5px;
}

.users-header-item {
	width: 33%;
}

.users {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.user-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px;
}

.user-row-item {
	width: 33%;
}

.user-row:nth-child(even) {
	background-color: lightgrey;
}

.button {
	background-color: whitesmoke;
	border-color: grey;
	border-width: 1px;
}

.oval {
	border-radius: 20px;
	font-weight: bold;
	margin-right: 10px;
	padding: 5px;
}

.oval-active {
	background-color: pink;
}

.oval-inactive {
	background-color: grey;
}