html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

.user-container {
	display: flex;
	flex-direction: column;
}

.user-header {
	display: flex;
	flex-direction: row;
	align-content: center;
	background-color: lightgray;
	padding: 10px;
}

.user-header-item {
	width: 33%;
}

.users {
	display: flex;
	padding: 10px;
	align-content: center;
}

.users:nth-child(even) {
	background-color: lightgray;
}

.user-item {
	width: 33%;
}

.button {
	background-color: whitesmoke;
	border-color: grey;
	border-width: 1px;
	padding: 5px;
}

.state {
	border-radius: 20px;
	padding: 5px;
}

.state-invited {
	background-color: salmon;
}

.state-active {
	background-color: grey;
}

.access {
	padding: 5px;
}

.access-full {
	background-color: green;
}

.access-readonly {
	background-color: lightseagreen;
}

.access-limited {
	background-color: orange;
}

.resend-invite {
	margin-right: 5px;
}

.my-team {
	padding: 10px;
}

.team-title {
	font-weight: bold;
}

.my-team-count {
	border-radius: 15px;
	background-color: darkslategray;
	padding-right: 5px;
	padding-left: 5px;
	color: white;
}

.add-new-user {
	display: flex;
}

.new-user-email {
	flex-basis: 40%
}
.new-user-select {
	flex-basis: 40%
}
.new-user-button {
	flex-basis: 20%
}

.send-invite {
	background-color: lightgray;
	padding: 5px;
}

.user-title {
	font-weight: bold;
}