
.items-container {
  position: absolute;
  width: 50px;
  height: 100px;
  border: 1px solid lightgray;
  z-index: 1000;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;
}

li {
  list-style: none;
}