.box {
  display: inline-block;
  border: 1px solid lightgray;
  width: 50px;
  height: 50px;
}

.row {
  display: block;
}

.container {
  border: 1px solid gray;
  display: grid;
  grid-auto-rows: 50px;
}